<div class="conf-body">
    <div class="use-mode-conf">
        <h2>Modo de ejecución</h2>
        <form>
            <mat-radio-group name="fuMan" (change)="recordExecModeInteraction($event)" class="modo-uso-gp">
                <mat-radio-button class="modo" value="true">Manual</mat-radio-button>
                <mat-radio-button class="modo" value="false">Automático</mat-radio-button>
            </mat-radio-group>
        </form>
        <hr class="solid">
    </div>

    <div class="param-container">
        <h2>Configuración</h2>
        <div class="checkbox-wr">
            <mat-checkbox
                (change)="setDPDesired($event)"
                [disabled]="running"
                [labelPosition]="'before'">
                <span [ngClass] ="{'undisabledLabel': !running, 'disabledLabel': running}">Activar memorización</span>
            </mat-checkbox>
        </div>
        <div>
            <label [ngClass] ="{'undisabledLabel': !(manual || running), 'disabledLabel': manual || running}">
                Velocidad:
            </label>
            <mat-slider class="mat-slide"
                thumbLabel
                [disabled]="manual || running"
                min="1"
                max="10"
                aria-label="units"
                (change)="adjustSpeed($event)">
            </mat-slider>
        </div>
        <hr class="solid">
    </div>

    <div class="param-container">
        <h2>Parámetros algoritmo</h2>
        <div *ngFor="let param of algorithmParameters; let i= index;" class="col mb-2">
            <div class="select-field">
                <span [ngClass]="running ? 'disabledLabel' : ''" class="elem">{{param.paramName}}: </span>
                <input class="num-input" value="0" [maxlength]="param.maxLength" [placeholder]="param.placeholder"
                       [(ngModel)]="algorithmParameters[i].paramValue" [disabled]="running">
            </div>
        </div>
        <hr class="solid">
    </div>

    <div class="run-container-wrapper" (click)="!running ? runProgram() : ''" >
        <div [ngClass]="{'run-wrapper':!running, 'run-wrapper-disabled':running}">
            <a>Run</a>
        </div>
    </div>

    <div class="view-wrapper">
        <div class="botton-wrapper explicacion-wrapper"
            (click)="emitSolucionDisplayEvent()">
            <a>Explicación</a>
            <div class="icon">
                <fa-icon [icon]="lbulbIcon"></fa-icon>
            </div>
        </div>
        <div class="botton-wrapper"
             (click)="emitEnunciadoDisplayEvent()">
            <a>Enunciado</a>
            <div class="icon">
                <fa-icon [icon]="atomIcon"></fa-icon>
            </div>
        </div>
    </div>
</div>