<h1 mat-dialog-title>ERROR: Parámetros erroneos.</h1>
<div mat-dialog-content>
    <span>El valor introducido como input a los parámetros solicitados es erroneo. Las normas
        a seguir son las siguientes:
    </span>
    <ul>
        <li>En el caso de arrays los valores deben estar encerrados entre corchetes y 
            separados por comas de la siguiente manera: [1,2,3]
        </li>
        <li>No introducir enteros negativos.</li>
    </ul>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
