$naranja_main: #FF7A18;
$white_main: #F5F9F7;
$black_main:#161616;
$translucent_black: #292929;

.FlexRCC{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.FlexRSC{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.FlexREC{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.FlexRCSt{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: stretch;
}

.FillFlex{
    flex : 2;
}

.mat-toolbar {
    min-height: 85px !important; 
}

.page-container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    background-color: #DEEAF0;

    .toolbarElems{
        @extend .FlexRCC;
        color: $white_main;
        cursor: pointer;
        height: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
    
    .toolbar{
        @extend .FlexRCSt;
        background-color: $black_main;
        height: 84px !important;
        min-height: 84px !important; 
        font-size: 22px;
    
        .goBackCont{
            @extend .FlexREC;
            @extend .FillFlex;
            padding-right: 10px;
    
            .home-icon{
                color: $white_main;
                padding-right: 5px;
            }
        }
    
        .alg-container{
            @extend .FlexRSC;
            flex: 2;
        }
    
        .tb-item-def{
            @extend .toolbarElems;
            color: $white_main;
    
            &:hover{
                color: $naranja_main;
                background-color: $translucent_black;
    
                .home-icon{
                    color: $naranja_main;
                }
            }
        }
    
        .tb-item-sel{
            @extend .toolbarElems;
            color: $naranja_main;
            border-bottom: 6px solid $naranja_main;
    
            span{
                padding-top: 6px;
            }
    
            &:hover{
                background-color: $translucent_black;
            }
        }
    }

    .body-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: stretch;
        width: 100%;

        .exec-container{
            flex-grow: 2;
        }
        
        .config-container{
            background-image: linear-gradient(to bottom, #161616 250%, #272727 74%);
            min-width: 350px;
            flex-grow: 0;
            order:2;
        }
    
    }
}

.modal-container{
    position: absolute;
    z-index: 1010;
}
.modal-background{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    z-index: 1005;
}

.modal-overlay{
    z-index: 1000;
}
